<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <service>
    <hosting xdt:Transform="Replace">
      <add baseUri="#{Bluewire.Webhooks.Service:BaseUri}" />
    </hosting>
  </service>
  <log4net>
    <root>
      <level xdt:Transform="Replace" value="WARN" />
    </root>
  </log4net>
</configuration>
